*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    background-color:  #080808;
    color:#fff;
}

.container{
    padding: 10px 10%;
}



nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top:20px;
    z-index: 10;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color:white;
    position: relative;
    font-size: 14px;
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    position: absolute;
    bottom: -6px;
    left:0;
    background: #ff004f;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;

}

.logo img{
    width: 120px;
}

.header-text{
    margin-top: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text p{
    font-size: 60px;
}

.header-text h1{
    font-size: 20px;
    margin-bottom: 30px;
}



.header-text{
    position: relative;
    bottom: 180px;
    left: 0;
}

.header-text span{
    color:#ff004f;
}

.header-text .left img{
    height: 250px;
    width: 300px;
}

/* About Section  */

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-about{
    flex-basis: 35%;
}

.right-about{
    flex-basis: 50%;
    margin-bottom: 130px;
}

.about span{
     color:#b54769;
}

.about h1{
    font-size: 80px;
    margin-bottom: 20px;
    font-weight: 500;
}

.tab-titles{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
    align-items: center;
}

.tab-links{
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
}

.tab-links::after{  /* there shouldnt be any space here   */
    content: '';
    width: 0%;
    height: 3px;
    position: absolute;
    bottom: -6px;
    left:0;
    transition: 0.5s;
    background: #ff004f;
}

.tab-links.active-link::after{
    width: 100%;
}

.tab-contents{
    display: none;
}

.active-tab{
    display: block;
}

.tab-contents p{
    margin-bottom: 15px;
}

.services h1{
    font-size:60px;
    color:white;
    font-weight: 500;
    margin-bottom: 50px;
    margin-top: 50px;
}

.serve{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.serve div{
    display: flex;
    flex-direction: column;
    background: #262626; 
    transition: background 0.5s , transform 0.5s;
    width: 370px;
    gap:50px;
    padding: 10px;
    border-radius: 10px;
}

.serve div:hover{
    background: #ff004f;
    transform: translateY(-15px);
    
}
.services h2{
    font-size: 30px;
    font-weight: 500;
}

.serve div a{
    text-decoration: none;
    color:white;
}

.serve div i{
    font-size: 50px;
}

.portfolio h1{
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: 50px;
}

.work-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.work img{
    width: 100%;  /* should completely take width of the work   */
    transition: transform 0.5s;
}
.work{
    position: relative;
    width: 360px;
    border: 1px solid green;
    border-radius: 10px;
    overflow: hidden;
    
}

.layer{
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;  /* should be taking the complete width of the work block    */
    left:0;
    bottom:0; /* position should be from the bottom of the layer  */
    height:0;
    transition: height 0.5s;
    padding: 0 40px;
    overflow: hidden;
   
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}



.layer a{
    margin-top:20px;
    color:#ff004f;
    text-decoration: none;
    font-size:18px;
    line-height: 60px; /* border ke top se 60px niche aa jyega  */
    background: #fff;
    width:60px;
    height:60px;
    border-radius:50%; /* for making the circle  */
    text-align: center;
}
.work:hover img{
    transform: scale(1.1Y);
}

.work:hover .layer{
    height: 100%;
}

.columns{
    display: flex;
    margin-top: 70px;
    
}



.pinfo h1{
    font-size:60px;
    font-weight:500;
}

.pinfo{
    display: flex;
    flex-direction: column;
    gap:30px;
    flex-basis: 35%;
    
}

.pinfo .social-icons{
    display: flex;
    gap:20px;
    align-items: center;
}

.pinfo i{
    color:#ff004f;
    margin-right: 10px;
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
    overflow: hidden;

}
.social-icons i{
    text-decoration: none;
    font-size: 30px;
    transition: transform 0.5s;
    color: white;
    margin-right: 10px;
}

.social-icons i:hover{
    transform: translateY(-10px);
    color: #ff004f;
}

.btn{
    background: #ff004f;
    text-decoration: none;
    color: white;
    text-decoration: none;
    padding: 14px 50px;
    display: inline;
    border-radius: 6px;
    width: 220px;
    overflow: hidden;
}

form{
    display: flex;
    flex-direction: column;
    

}

.contact-right form{
    width: 100%;
   
}

form input,form textarea{
    width:100%;
    border:0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color:#fff;
    font-size: 18px;
    border-radius: 6px;
}

nav .fas{
    display: none;
}

@media(min-width :200px) and (max-width :900px){

   
    .header-text{
        margin-top: 300px;
        flex-direction: column;
    }
    
    .header-text p{
    font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    
    nav ul{
        background: #ff004f;
        position: fixed;
        top:0;
        right: -200px;;
        width:200px;
        height: 100vh;
        padding-top: 50px;
        z-index:2;
        transition: right 0.5s; /* smoothly css gets added to right */
    }
    
    nav ul li{
        display:block;     /* now we want every link to be displayed as the block  */
        margin-top:25px;
    }
    
    
    
    i.fas.fa-times {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    
    
    .row{
        flex-direction: column;
    }
    
    .serve{
        flex-direction: column;
    }
    
    .serve div{
    margin-bottom: 20px;
    }
    
    .work-list{
        flex-direction: column;
    }
    
    .work{
        margin-bottom: 20px;
    }

    .columns{
        flex-direction: column;
    }
    .portfolio h1,.about h1,.services h1{
        font-size: 45px;
    }
}